# Ignore All
*
**

# Except for these files
!.gitignore
!LICENSE
!README.md
!/VirtualBox Backup.bat
!/Example Start.bat
# !/Example Start Son.bat
# !/Example Start Father.bat
# !/Example Start Grandfather.bat